body {
  background-color: #1c1e21;
  color: white;
}

.btn {
  float: right;
  margin: 8px;
  margin-top: 20px;
  background-color: gray;
  color: white;
  border: 0px;
}

img {
  width: 60px;
  height: 60px;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 65% 15%;
      grid-template-columns: 20% 65% 15%;
  width: 1000px;
  margin: auto;
}

.wrapper .header .tools {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 1000px;
  text-align: left;
  background-color: gray;
  color: white;
  margin: auto;
  height: 60px;
  border-radius: 5px;
}

.wrapper .linksbar {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgba(169, 169, 169, 0.39);
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .linksbar .link {
  margin: 10px;
  background-color: gray;
  height: 50px;
  width: 80px;
  padding: 5px;
  border-radius: 5px;
}

.wrapper .linksbar .link .offer {
  position: relative;
  top: 2px;
  left: 17px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.wrapper .linksbar .link [title="offer1"] {
  background-color: red;
}

.wrapper .linksbar .link [title="offer2"] {
  background-color: orangered;
}

.wrapper .linksbar .link [title="offer3"] {
  background-color: yellow;
}

.wrapper .linksbar .link [title="offer4"] {
  background-color: greenyellow;
}

.wrapper .linksbar .link [title="offer5"] {
  background-color: purple;
}

.wrapper .menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  margin-top: 10px;
  border-radius: 5px;
  margin-right: 10px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .menubar .sbleft {
  background-color: rgba(169, 169, 169, 0.39);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  line-height: 1.2;
}

.wrapper .menubar .xtra {
  position: absolute;
  bottom: 0px;
  text-align: center;
}

.wrapper .content {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  margin-top: 10px;
  margin-right: 10px;
}

.wrapper .content .box {
  background-color: rgba(169, 169, 169, 0.39);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.wrapper .content .box .pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .content .box .pictures .pict {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lightgray;
  margin: 1px;
  height: 250px;
}

.wrapper .footer {
  -ms-grid-row: 3;
  grid-row: 3;
  background-color: gray;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  border-radius: 5px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  text-align: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-right: 50px;
}
/*# sourceMappingURL=style.css.map */